
html {
	background-color: #ffffff ;
	color: #212121 ;
	font-family: verdana, arial, sans-serif ;
	font-size: 22px ;
	line-height: 1.3 ;
}

turbo-frame {
	display: block ;
}

input,
textarea,
select,
button {
	font-size: 100% ;
}

a {
	color: #ec005a ;
}

.turbo-progress-bar {
	background-color: #ec005a ;
}

#myInput {
	padding: 10px 20px 10px 10px ;
	width: 500px ;
}
